# 环境相关
.env
ENV/

# 数据库文件
db/
**/db/

# 数据文件
*.csv
*.txt
*.zip

# 压缩文件
*.tar.gz
*.tar.xz
*.tar.bz2
*.tar.7z
*.tar.wim
*.tar.iso
*.tar.lzma

# 特定项目文件
4_rag/books/
Try-Markdown-RAG/markdown/
Try-Markdown-RAG/excels/
Try-Markdown-RAG/dataset/
markdown-structure-splitter/
google-cloud-sdk/

# 依赖管理
poetry.lock